version: "3.8"

services:
  japanese-ocr:
    build: .
    container_name: japanese-ocr-translator

    env_file:
      - .env

    volumes:
      - ./input:/app/input
      - ./output:/app/output
      - ./logs:/app/logs